$card-shadow: #ebc0fd;

.ListCard {
	margin: 25px 0;
	padding: 1% 2%;
	width: 100%;
	min-height: 100px;
	border-radius: 10px;
	background-color: #fff;
	text-align: left;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
	&:hover {
		box-shadow: 0 10px 20px rgba($card-shadow, 0.7);
		// transform: translateY(-10px);
	}
	&-heading {
		position: relative;
		z-index: 5;
	}
	&-todo-main {
		width: 80%;
		position: relative;
		z-index: 5;
		margin-left: 20px;
	}
	&-circle-element {
		height: 200px;
		width: 200px;
		background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
		left: -100px;
		bottom: -100px;
		z-index: 0;
		border-radius: 50%;
		&::before {
			content: "";
			position: absolute;
			height: 80%;
			width: 80%;
			top: 50%;
			left: 50%;
			border-radius: 50%;

			transform: translate(-50%, -50%);
			background: #fff;
			// z-index: ;
		}
	}
	&-button {
		height: 100%;
		width: 180px;
		background-color: #000;
		position: absolute;
		right: 0;
		top: 85%;
		display: flex;

		transition: all 1s ease;
		&:hover {
			transform: translateY(-85%);
		}
		&-complete {
			width: 50%;
			background-color: #43e97b;
			display: flex;
			justify-content: center;
			align-items: center;
			i {
				font-size: 2rem;
				color: #fff;
			}
		}
		&-delete {
			width: 50%;
			background-color: #f5576c;
			display: flex;
			justify-content: center;
			align-items: center;
			i {
				font-size: 2rem;
				color: #fff;
			}
		}
	}
}
.completed {
	opacity: 0.5;
	text-decoration: line-through;
}
